
<div id="game">Yo</div>

<script type="text/javascript">
  $(function() {
    window.router = new Wordz.Routers.GameRouter({words: <%= @words.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

