<div id="content">

  <ul id="scoreboard">
    <li id="level">
      level: <span></span>
    </li>

    <li id="total-score">
      total score: <span class="total-score"></span>
    </li>

    <li id="level-score">
      score: <span class="level-score"></span>
    </li>

    <li id="timer">
      <div></div>
    </li>

  </ul>


  <div class="row">
    <ul id="words"></ul>
  </div>

</div>

<div class="level-modal reveal-modal"></div>