<div id="content">

  <div class="row">
    <div id="index-title">
      <h2>Ms. Pelling's Words</h2>
    </div>
    <div id="scoreboard">
      score: <span id="score"></span>
    </div>
  </div>

  <div class="row">
    <ul id="words"></ul>
  </div>

</div>