<div class="row">
  <div class="six columns centered">
    <h2>Words</h2>
  </div>
</div>

  <div class="row">
    <ul id="words"></ul>
  </div>



<div class="row">
  <div class="three columns centered footer">
    <hr>
    <span>Created by Ruemic</span><br>
  </div>
</div>
