<div id="content">
  <div class="row">
    <div class="six columns centered">
      <h2 id="index-title">Ms. Pelling's Words</h2>
    </div>
  </div>

  <div>
    <ul id="words" class="row"></ul>
  </div>

  <div class="row">
    <div class="three columns centered footer">
      <hr>
      <span>Created by Ruemic Design</span><br>
    </div>
  </div>
</div>