
<div id="words"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Wordz.Routers.WordsRouter({words: <%= @words.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

