@import 'foundation';

body { min-height: 480px; line-height: 18px; }
.row { max-width: 900px; }
h2, h3, h6 { font-family: "OpenSans"; color: #6F6F6F; font-weight: 500; padding: 10px 0; }

#count {
  text-align: center;
  h3 { padding: 3px 0; }
}

#words {
  li {
    list-style: none;
  }
  p {
    @extend .five;
    @extend .rows;
    @include inline-block;
    font-size: 3em;
    color: #6F6F6F;
    font-weight: 500;
    text-align: center;
    font-family: "OpenSans";
  }
}

.columns.centered.footer { text-align: center; margin-bottom: 20px; }
