@import 'foundation';
@import 'bourbon';

html {
  font-size: 100%;
  min-height: 100%;
}

body {
  min-height: 480px;
  line-height: 18px;
  background-color: #eefbf8;
  @include radial-gradient(50% 50%, circle cover, hsla(0,0%,100%,.2) 30%, hsla(0,0%,0%,.75));
  // linear-gradient(left, transparent 50%, hsla(0,0%,0%,.01) 50%);
  background-position: 50% 75%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-size: 150% 150%, 3em 3em;
}
h2, h3, h6 { font-family: "OpenSans"; color: #6F6F6F; font-weight: 500; padding: 10px 0; }

#scoreboard {
  @extend .row;
  list-style: none;
  li {
    @extend .two;
    @extend .columns;
    @include inline-block;
    > span {
      line-height: 60px;
      @include inline-block;
      vertical-align: middle;
    }
  }
  #level-score {
    @extend .offset-by-three;
    span { font-size: 4em }
  }
}

#words {
  margin-top: 100px;
  position: relative;
  list-style: none;
  .question {
    @extend .row;
    height: 800px;
    > div {
      @extend .twelve;
      @extend .columns;
    }
    .choice {
      @extend .six;
      @extend .columns;
    }
  }
}
.word {
  border: 5px solid transparentize(blue,.95);
  background: transparentize(white,.4);

  @include user-select(none);
  position: relative;
  @include clearfix;
  font-size: 3em;
  color: #6F6F6F;
  font-weight: 500;
  text-align: center;
  font-family: "OpenSans";
  &.active {
    font-weight: 900;
  }
  &.correct {
    border: 5px solid transparentize(green, .5);
  }
  &.incorrect {
    border: 5px solid transparentize(red, .5);
  }
}
