@import "bourbon";
@import "neat";

#game {
  @include outer-container;
  background-color: lighten(blue,40%);
}

.word {
  color: black;
  @include span-columns(3, inline-block);
  @include transition(all 1s ease-in-out);
  .answer-key {
    opacity: .8;
    position: absolute;

  }
  &:hover {
    color: purple;
  }
}

