<h1>Edit word</h1>

<form id="edit-word" name="word">
  <div class="field">
    <label for="word"> word:</label>
    <input type="text" name="word" id="word" value="<%= word %>" >
  </div>

  <div class="field">
    <label for="correct"> correct:</label>
    <input type="text" name="correct" id="correct" value="<%= correct %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Word" />
  </div>

</form>

<a href="#/index">Back</a>
